/*

1. Add your custom Css styles below
2. Place the this code in your template:

 <link href="css/custom.css" rel="stylesheet">

*/

.header-inner {
    background-color: #4a4a4a!important;
}

:lang(jp) {
    font-family: YahooSans,'Helvetica Neue',Helvetica,Arial,sans-serif;
}

:lang(en) {
    font-family: "SHOWCARD GOTHIC", "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}

:lang(cn) {
    font-family: Arial, sans-serif;
}

.fa, .far, .fas {
    font-family: "Font Awesome 5 Free" !important;
}

.fab {
    font-family: "Font Awesome 5 Brands" !important;
}

.flag-icon {
    border: 1px solid #cccccc;
}

[v-cloak] {
    display: none;
}

.col-xs-1-10,
.col-sm-1-10 {
  position: relative;
  min-height: 1px;
}

.col-xs-1-10 {
  width: 10%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-1-10 {
    width: 10%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-1-10 {
    width: 10%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-1-10 {
    width: 10%;
    float: left;
  }
}

.email {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    margin-bottom: -5px;
}

#mainMenu nav > ul > li > a, #mainMenu nav > ul > li:hover > a {
  color: white;
}

.header-extras > ul > li a, .header-extras > ul > li i.icon-globe {
  color: white;
}

#header[data-fullwidth="true"] .header-inner .container {
  max-width: 1141px;
}

.back-theme {
  background-color: #4e2716 !important;
}

.back-semi-theme {
  background-color: #d8b176 !important;
}

.text-theme {
  color: #4e2716 !important;
}

.border-theme {
  border: 1px solid #4e2716 !important;
}

.border-semi-theme {
  border: 1px solid #d8b176 !important;
}

.card-header-bottom {
  border-bottom: 1px solid #4e2716 !important;
}

.background-transparent {
  background-color: #ffffff00 !important;
}

.background-login {
    position: absolute;
    background-color: #d8b176;
    transform: skewY( -5deg );
    width: 100%;
    height: 324px;
    bottom: 71px;
    top: 300px;
}

.mainMenu-open #header .header-inner {
  background-color: #4e2716 !important;
}

.lines, .lines:before, .lines:after{
  background-color: white !important;
}

#mainMenu nav > ul > li .dropdown-menu > li > a {
  color: white;
}