/*

1. Add your custom Css styles below
2. Place the this code in your template:

 <link href="css/custom.css" rel="stylesheet">

*/
@font-face {
  font-family: 'M+ 1c medium';
  src: url('../fonts/mplus-1c-medium-sub.eot');
  src: url('../fonts/mplus-1c-medium-sub.eot?#iefix') format('embedded-opentype'),
  url('../fonts/mplus-1c-medium-sub.woff') format('woff'),
  url('../fonts/mplus-1c-medium-sub.ttf') format('truetype');
}

@font-face {
  font-family: 'Enchanted Land';
  src: url('../fonts/CELTG___.TTF');
  src: url('../fonts/CELTG___.TTF?#iefix') format('embedded-opentype'),
  url('../fonts/CELTG___.TTF') format('woff'),
  url('../fonts/CELTG___.TTF') format('truetype');
}

.header-inner {
    background-color: #4a4a4a!important;
}

:lang(jp) {
    font-family: YahooSans,'Helvetica Neue',Helvetica,Arial,sans-serif !important;
}

:lang(en) {
    font-family: "Enchanted Land", "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif !important;
}

.en-font {
  font-family: "Enchanted Land", "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif !important;
}

:lang(cn) {
    font-family: Arial, sans-serif;
}

.fa, .far, .fas {
    font-family: "Font Awesome 5 Free" !important;
}

.fab {
    font-family: "Font Awesome 5 Brands" !important;
}

.flag-icon {
    border: 1px solid #cccccc;
}

[v-cloak] {
    display: none;
}

.col-xs-1-10,
.col-sm-1-10 {
  position: relative;
  min-height: 1px;
}

.col-xs-1-10 {
    width: 10%;
    float: left;
}



.email {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    margin-bottom: -5px;
}

#mainMenu nav > ul > li > a, #mainMenu nav > ul > li:hover > a {
  color: white;
  text-transform: unset;
}

.header-extras > ul > li a, .header-extras > ul > li i.icon-globe {
  color: white;
}

#header[data-fullwidth="true"] .header-inner .container {
  max-width: 1141px;
}

.back-theme {
  background-color: #4e2716 !important;
}

.back-semi-theme {
  background-color: #d8b176 !important;
}

.back-img-transparent {
  background-image: url(../images/background.webp);
}

.back-semitrans-theme {
  background-color: #d8b176EE !important;
}

.text-theme {
  color: #4e2716 !important;
}

.border-theme {
  border: 1px solid #4e2716 !important;
}

.border-semi-theme {
  border: 1px solid #d8b176 !important;
}

.card-header-bottom {
  border-bottom: 1px solid #4e2716 !important;
}

.background-transparent {
  background-color: #ffffff00 !important;
}

.background-login {
    position: absolute;
    background-color: #d8b176;
    transform: skewY( -5deg );
    width: 100%;
    height: 324px;
    bottom: 71px;
    top: 300px;
}

.mainMenu-open #header .header-inner {
  background-color: #4e2716 !important;
}

.lines, .lines:before, .lines:after{
  background-color: white !important;
}

#mainMenu nav > ul > li .dropdown-menu > li > a {
  color: white;
}

.mv-img {
  max-width: 400px;
}

.inspiro-slider .slide .container, .inspiro-slider .slide .container-wide {
  align-self: unset !important;
  margin-top: 100px;
}

.swal-theme .swal2-html-container {
  overflow: unset;
}

.cart-product-description {
  font-size: 20px;
}

.mw-50 {
  min-width: 50px;
}

.swal2-container.swal2-center>.swal2-popup {
  background-color: #4e2716;
}

.swal2-container.swal2-center .cart-product-description {
  max-width: unset;
}

.pull-right {
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 768px) {
  .col-sm-1-10 {
    width: 10%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-1-10 {
    width: 10%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-1-10 {
    width: 10%;
    float: left;
  }
}

@media (max-width: 500px) {
  img#mv-img.mv-img {
    width: 90% !important;
    max-width: unset;
  }
}